
@{
    ViewData["Title"] = "AboutUs";
}

<main class="page-content">
    <section class="section-40 section-lg-64 bg-gray-lighter">
        <div class="breadcrumbs-wrap">
            <div class="shell text-center">
                <div class="wrap-sm-justify-horizontal">
                    <div class="text-sm-left">
                        <h1>ЗА НАС</h1>
                    </div>
                    <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                        <ul class="breadcrumbs-custom">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active">ЗА НАС</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-60 section-sm-90 section-md-110">
        <div class="shell">
            <div class="range range-sm-center">
              
                <div class="cell-sm-8 cell-md-6 offset-top-45 offset-md-top-0">
                    <h2>А ние сме :</h2>
                    <div class="divider divider-md divider-primary divider-sm-left"></div>
                    <p class="offset-top-30 offset-md-top-55">
                        Нашият екип се състои 10 човека, като планат ни е постепенно да се увеличава броят ни.
                        В екип си имаме професионалисти от различни области - Ел. инженери, строители, фаянсаджии, стъклари, дърводелци, бояджии, ВиК специалисти, гипсаджии и др.
                        В сферата сме повече от 10 години!
                    </p>

                    <h6>
                        Работно време:
                    </h6>
                    <p>Понеделник - 09:00-18:30</p>
                    <p>Вторник - 09:00-18:30</p>
                    <p>Сряда - 09:00-18:30</p>
                    <p>Четвъртък - 09:00-18:30</p>
                    <p>Петък - 09:00-18:30</p>
                    <p>Събота и Неделя - почивка</p>

                    <h6>При въпроси не се колебайте да се свържете с нас!</h6>
                </div>
            </div>
        </div>
        </section>
</main>
