
@{
    ViewData["Title"] = "AboutUs";
}

<main class="page-content">
    <section class="section-40 section-lg-64 bg-gray-lighter">
        <div class="breadcrumbs-wrap">
            <div class="shell text-center">
                <div class="wrap-sm-justify-horizontal">
                    <div class="text-sm-left">
                        <h1>НАШИЯ ЕКИП</h1>
                    </div>
                    <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                        <ul class="breadcrumbs-custom">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active">НАШИЯ ЕКИП</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-60 section-sm-90 section-md-110">
        <div class="shell">
            <div class="range range-sm-center">
              
                <div class="cell-sm-8 cell-md-6 offset-top-45 offset-md-top-0">
                    <h2>А ние сме :</h2>
                    <div class="divider divider-md divider-primary divider-sm-left"></div>
                    <p class="offset-top-30 offset-md-top-55">Service Center has been in operation in San Diego since 1982. We are a family-owned and family-run business, which means customers receive more care than at a franchise or large corporation.</p>
                    <p>Our goal is high quality service and customer satisfaction. This is achieved through our highly qualified professional team of friendly technicians whose main goal is to satisfy your needs. We are proud of our continuous relationships with over 100,000 (and growing) households.</p>
                </div>
            </div>
        </div>
        </section>
</main>
