@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/css.css?family=Open+Sans:400,700,400italic,600italic,900">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="page section-single bg-venice-blue">
        <header class="page-head">
            <section>
                <div class="shell text-center">
                    <div class="brand-wrap"><a href="index.html" class="brand"><img src="images/logo-white-250x40.png" alt="" width="250" height="40" /></a></div>
                </div>
            </section>
        </header>
        <main class="page-content text-center">
            <section>
                <div class="shell">
                    <div class="range range-sm-center">
                        <div class="cell-md-10 cell-lg-8">
                            <h1 class="h5-variant-1"><strong>Грешка 404 страницате не е намерене!</strong></h1>
                            <div class="text-medium">404</div>
                            <div class="offset-top-35 offset-sm-top-50">
                                <div class="group-xl"><a href="index" class="btn btn-primary-variant-1 btn-mod-1">Обратно към сайта</a><a href="Contact" class="btn btn-white-outline btn-mod-2">контакти</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="page-foot">
            <div class="shell text-center">
                <p class="rights">&#169;&nbsp;<span id="copyright-year"></span>&nbsp;Всички права запазени&nbsp;</p>
            </div>
        </footer>
    </div>
    <div id="form-output-global" class="snackbars"></div>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
                    <button title="Share" class="pswp__button pswp__button--share"></button>
                    <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
                    <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
                <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>

