
@{
    ViewData["Title"] = "GalleryDurvodelec";
}
<section class="section-40 section-lg-64 bg-gray-lighter">
    <div class="breadcrumbs-wrap">
        <div class="shell text-center">
            <div class="wrap-sm-justify-horizontal">
                <div class="text-sm-left">
                    <h1>Част от нашите дърводелски услуги:</h1>
                </div>
                <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                    <ul class="breadcrumbs-custom">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li class="active">Grid Padding Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>
    <div class="mdb-lightbox">
        <div>
            <figure class="col-md-4">
                <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609152720/kljwdo7tih912vuabwqn.jpg" data-size="900x1600">
                    <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609152720/kljwdo7tih912vuabwqn.jpg" class="img-fluid">
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609152713/ayhxfowelj33d9ioipdj.jpg" data-size="900x1600">
                    <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609152713/ayhxfowelj33d9ioipdj.jpg" class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4">
                <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609152718/r6rr5ejvcucujw3aqbqs.jpg" data-size="900x1600">
                    <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609152718/r6rr5ejvcucujw3aqbqs.jpg" class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609157908/deiewkyna3jiox1xobqd.jpg" data-size="1200x1600">
                    <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609157908/deiewkyna3jiox1xobqd.jpg" class="img-fluid" />
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609157907/gzicwthtfxatwaveu3ph.jpg" data-size="1200x1600">
                    <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609157907/gzicwthtfxatwaveu3ph.jpg" class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4">
                <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609152719/ps43ii4y83rksh8od7nz.jpg" data-size="1200x1600">
                    <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609152719/ps43ii4y83rksh8od7nz.jpg" class="img-fluid" />
                </a>
            </figure>
        </div>
</div>






