
@{
    ViewData["Title"] = "GallerySifoni";
}
<section class="section-40 section-lg-64 bg-gray-lighter">
    <div class="breadcrumbs-wrap">
        <div class="shell text-center">
            <div class="wrap-sm-justify-horizontal">
                <div class="text-sm-left">
                    <h1>ЛИНЕЙНИ СИФОНИ</h1>
                </div>
                <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                    <ul class="breadcrumbs-custom">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li class="active">Grid Padding Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox">

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655753/dcfjeiqpav9s4y77n07c.jpg" data-size="755x993">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655753/dcfjeiqpav9s4y77n07c.jpg" class="img-fluid">
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655750/fhsapxvowdzbtkb73n2i.jpg" data-size="755x993">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655750/fhsapxvowdzbtkb73n2i.jpg" class="img-fluid" />
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655752/xx6ovlrzlw2xn0ob0vas.jpg" data-size="755x993">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655752/xx6ovlrzlw2xn0ob0vas.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655752/b2jmvocuranv6cdvmsyp.jpg" data-size="755x993">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655752/b2jmvocuranv6cdvmsyp.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655754/jchffooa6k6utua74jsd.jpg" data-size="755x993">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655754/jchffooa6k6utua74jsd.jpg" class="img-fluid" />
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655755/bh9mkzpz2kwdxpar9tqo.jpg" data-size="755x993">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655755/bh9mkzpz2kwdxpar9tqo.jpg" class="img-fluid" />
            </a>
        </figure>
    </div>
</div>




