
@{ ViewData["Title"] = "Gallery"; }

< <main class="page-content">
    <section class="section-40 section-lg-64 bg-gray-lighter">
        <div class="breadcrumbs-wrap">
            <div class="shell text-center">
                <div class="wrap-sm-justify-horizontal">
                    <div class="text-sm-left">
                        <h1>Галерия</h1>
                    </div>
                    <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                        <ul class="breadcrumbs-custom">
                            <li class="active">Grid Padding Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-80 section-sm-90">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12">
                    <h2>Част от нашите проекти и услуги:</h2>
                    <div class="divider divider-md divider-primary"></div>
                </div>
            </div>
            <div class="row offset-top-35 offset-sm-top-50">
                <div class="col-xs-12">
                    <div class="isotope-filters isotope-filters-horizontal">
                    </div>
                </div>
                <div class="col-xs-12 offset-top-45 offset-sm-top-60">
                    <div class="isotope-wrap">
                        <div data-isotope-layout="fitRows" data-isotope-group="gallery" data-photo-swipe-gallery="gallery" class="row isotope isotope-spacing-1">
                            <div data-filter="Category 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_450,w_600/v1606648438/aev55bmhqendidzrtarb.jpg" alt="" width="600" height="450" /> </figure>
                                    <a href="GalleryIztok" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GalleryIztok" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Изток, София</h6>
                                            <p>Цялостен ремонт в квартал Изток, София</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-filter="Category 2" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606662895/gqmsjwu2o9t4njb4t8wj.jpg" alt="" width="600" height="450" /> </figure>
                                    <a href="GalleryCenter1" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GalleryCenter1" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Център, София</h6>
                                            <p>Цялостен ремонт на баня в центъра на София</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-filter="Category 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606667455/huymji8bdqdgnqztrfms.jpg" alt="" width="600" height="450" /> </figure>
                                    <a href="GalleryCenter2" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GalleryCenter2" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Център, София</h6>
                                            <p>Цялостен ремонт на баня в центъра на София</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-filter="Category 4" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_450,w_600/v1606655719/roicqkfziqa00u5vrfrl.jpg" alt="" width="600" height="450" /> </figure>
                                    <a href="GalleryLozenec" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GalleryLozenec" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Лозенец, София</h6>
                                            <p>Цялостен ремонт на апартамен в Лозенц, поставяне на подово отопление и поставяне на облицовачен камък</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="Category 5" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_450,w_600/v1606655737/obwzpmzkfuub1wagplwc.jpg" alt="" width="600" height="450" /> </figure>
                                    <a href="GallerySlatina" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GallerySlatina" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Слатина, София<h6>
                                            <p>Цялостен ремонт на баня в квартал Лозенец, София</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-filter="Category 6" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_450,w_600/v1606655737/obwzpmzkfuub1wagplwc.jpg" alt="" width="600" height="450" /> </figure>
                                    <a href="GallerySlatina" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GallerySlatina" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Слатина, София<h6>
                                            <p>Цялостен ремонт на баня в квартал Лозенец, София</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="Category 7" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <h3></h3>
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609154110/ni0pcls99fawdebq5q34.jpg" alt="" width="600" height="450" /> </figure>
                                    <a href="GalleryStuklar" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GalleryStuklar" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Стъкларски услуги</h6>
                                            <p>Широк спектър от стъкларски услуги</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-filter="Category 8" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609153858/pfjpcsu7thuspkk6uee5.jpg" alt="" width="600" height="450" /> </figure>
                                    <a href="GalleryDurvodelec" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GalleryDurvodelec" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Дърводелски услуги</h6>
                                            <p>Широк спектър от дърводелски услуги</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div data-filter="Category 9" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail thumbnail-variant-4">
                                    <figure><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1608055114/nleqvmrwhuxfajlwkin9.png" alt="" width="600" height="450" /> </figure>
                                    <a href="GallerySifoni" data-photo-swipe-item="" data-size="1200x800" class="thumbnail-original-link"></a>
                                    <div class="caption">
                                        <a href="GallerySifoni" class="thumbnail-link"></a>
                                        <div class="caption-text">
                                            <h6>Изработка на сифони по дизайн</h6>
                                            <p>Изработени са от висококачествен инокс304-неръждаема стомана</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>