
@{
    ViewData["Title"] = "GalleryLozenec";
}

<section class="section-40 section-lg-64 bg-gray-lighter">
    <div class="breadcrumbs-wrap">
        <div class="shell text-center">
            <div class="wrap-sm-justify-horizontal">
                <div class="text-sm-left">
                    <h1>Лозенец, София :</h1>
                </div>
                <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                    <ul class="breadcrumbs-custom">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li class="active">Grid Padding Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox">


        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655717/gdhj86uhz2es6oxnjxjo.jpg" data-size="755x999">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655717/gdhj86uhz2es6oxnjxjo.jpg" class="img-fluid">
            </a>
        </figure>


        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_999,w_755/v1606655717/pydmyobgdjmehkwwulny.jpg" data-size="755x999">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_999,w_755/v1606655717/pydmyobgdjmehkwwulny.jpg" class="img-fluid">
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_999,w_755/v1606655718/on7nhj8cah814bxbghwb.jpg" data-size="755x999">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_999,w_755/v1606655718/on7nhj8cah814bxbghwb.jpg" class="img-fluid">
            </a>
        </figure>

        

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655719/roicqkfziqa00u5vrfrl.jpg" data-size="755x999">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655719/roicqkfziqa00u5vrfrl.jpg" class="img-fluid">
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_999,w_755/v1606655720/wu45ttofwco49n5cni66.jpg" data-size="755x999">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_999,w_755/v1606655720/wu45ttofwco49n5cni66.jpg" class="img-fluid">
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_999,w_755/v1606655719/roicqkfziqa00u5vrfrl.jpg" data-size="755x999">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/c_scale,h_999,w_755/v1606655719/roicqkfziqa00u5vrfrl.jpg" class="img-fluid">
            </a>
        </figure>

        

    </div>
</div>


