
@{
    ViewData["Title"] = "GallerySifoni";
}
<section class="section-40 section-lg-64 bg-gray-lighter">
    <div class="breadcrumbs-wrap">
        <div class="shell text-center">
            <div class="wrap-sm-justify-horizontal">
                <div class="text-sm-left">
                    <h1>ЛИНЕЙНИ СИФОНИ</h1>
                </div>
                <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                    <ul class="breadcrumbs-custom">
                        <li class="active">Grid Padding Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox">

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1608053948/rp7v7ezalclljgzqco54.jpg" data-size="641x361">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1608053948/rp7v7ezalclljgzqco54.jpg" class="img-fluid">
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1608053947/ykgy4fq2mngicxg4v5rc.jpg" data-size="641x361">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1608053947/ykgy4fq2mngicxg4v5rc.jpg" class="img-fluid">
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1608053948/cxsvtqghorzzsfmtqrh0.jpg" data-size="641x361">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1608053948/cxsvtqghorzzsfmtqrh0.jpg" class="img-fluid">
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609159407/l3qfdky1idfkcytxebnd.jpg" data-size="461x361">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609159407/l3qfdky1idfkcytxebnd.jpg" class="img-fluid">
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609159408/evl4emsgbg1xaf4cxgcs.jpg" data-size="461x361">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609159408/evl4emsgbg1xaf4cxgcs.jpg" class="img-fluid">
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1609159432/r3ytyrvdowqtmsjxo3b7.jpg" data-size="461x361">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609159432/r3ytyrvdowqtmsjxo3b7.jpg" class="img-fluid">
            </a>
        </figure>
    </div>
</div>




