
@{
    ViewData["Title"] = "GallerySlatina";
}

<section class="section-40 section-lg-64 bg-gray-lighter">
    <div class="breadcrumbs-wrap">
        <div class="shell text-center">
            <div class="wrap-sm-justify-horizontal">
                <div class="text-sm-left">
                    <h1>Баня - Слатина, София :</h1>
                </div>
                <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                    <ul class="breadcrumbs-custom">
                        <li class="active">Grid Padding Gallery</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox">

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655737/obwzpmzkfuub1wagplwc.jpg" data-size="753x1013">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655737/obwzpmzkfuub1wagplwc.jpg" class="img-fluid">
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655735/gzc2dit0rcz4ptxtsqts.jpg" data-size="753x1013">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655735/gzc2dit0rcz4ptxtsqts.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655737/kua69joadqvjvv2lyyfg.jpg" data-size="753x1013">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655737/kua69joadqvjvv2lyyfg.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655736/vtdq8rcmsy4vw4mdhywy.jpg" data-size="753x1013">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655736/vtdq8rcmsy4vw4mdhywy.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655734/jwlbqhjelyhkz5wqbhyz.jpg" data-size="753x1013">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655734/jwlbqhjelyhkz5wqbhyz.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655734/rnkawgyjzqvw0xt0ejks.jpg" data-size="753x1013">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606655734/rnkawgyjzqvw0xt0ejks.jpg" class="img-fluid" />
            </a>
        </figure>

    </div>
</div>



