
@{ ViewData["Title"] = "GalleryIztok"; }

<section class="section-40 section-lg-64 bg-gray-lighter">
    <div class="breadcrumbs-wrap">
        <div class="shell text-center">
            <div class="wrap-sm-justify-horizontal">
                <div class="text-sm-left">
                    <h1>Изток, София :</h1>
                </div>
                <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                    <ul class="breadcrumbs-custom">
                        <li class="active">Grid Padding Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox">

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648258/wuo75e2kofdu0c1ceqgr.jpg" data-size="4608x3456">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648258/wuo75e2kofdu0c1ceqgr.jpg" class="img-fluid">
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648409/nhiope5zxqfrfljqyrgo.jpg" data-size="4608x3456">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648409/nhiope5zxqfrfljqyrgo.jpg" class="img-fluid" />
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648425/ycwctn06ugwvhgdqugas.jpg" data-size="4608x3456">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648425/ycwctn06ugwvhgdqugas.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648410/naaaxyzrhybds8dtvvza.jpg" data-size="3456x4608">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648410/naaaxyzrhybds8dtvvza.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648411/rnjxwehnrzlwcfxdhxru.jpg" data-size="3456x4608">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648411/rnjxwehnrzlwcfxdhxru.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648421/jiik2g8ajbhcgaqfduwh.jpg" data-size="3456x4608">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648421/jiik2g8ajbhcgaqfduwh.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648423/pgwjgjyuedoui7vshwjv.jpg" data-size="3456x4608">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648423/pgwjgjyuedoui7vshwjv.jpg" class="img-fluid" />
            </a>
        </figure>
        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648427/nnryqaa0cvihkv9ayrhy.jpg" data-size="3456x4608">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648427/nnryqaa0cvihkv9ayrhy.jpg" class="img-fluid" />
            </a>
        </figure>

        <figure class="col-md-4">
            <a href="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648438/aev55bmhqendidzrtarb.jpg" data-size="3456x4608">
                <img alt="picture" src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606648438/aev55bmhqendidzrtarb.jpg" class="img-fluid" />
            </a>
        </figure>
    </div>
</div>
