@{
    ViewData["Title"] = "Home Page";
}
@model dim.Data.ApplicationDbContext 

<main class="page-content">
    <div  data-swiper-autoplay="2000" data-slide-effect="fade" class="swiper-container swiper-slider" >
        <div class="swiper-wrapper" data-swiper-autoplay="2000">
            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606582443/pk8y6ckzqcxhpkzeukoi.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-sm-4 cell-md-4 cell-lg-6">
                                <h2>Нуждаете се</h2>
                                <h2>от цялостен</h2>
                                <h2>ремонт?</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1"></h5>
                                </div>
                                <div class="offset-top-35"><a href="/Home/Contact" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572028/hls0maca25ubkwnzmvdg.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-right text-sm-right">
                        <div class="range">
                            <div class="cell-sm-12 cell-md-12 cell-lg-12">
                                <h2>Нуждаете се от</h2>
                                <h2>частичен или</h2>
                                <h2>довършителен</h2>
                                <h2>ремонт?</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1"></h5>
                                </div>
                                <div class="offset-top-35 offset-sm-top-65"><a href="/Home/Contact" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572024/vp9qwdapscqcbsmeqg9o.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-sm-8 cell-md-8 cell-lg-7">
                                <h2>Можем</h2>
                                <h2>да помогнем!</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1">Ние предлагаме, както цялостни ремонти от А-Я, така и довършителни ремонти!</h5>
                                </div>
                                <div class="offset-top-35"><a href="/Home/Contact" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606582558/tzrl8yvzb29nxzllgpby.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-sm-10 cell-md-10 cell-lg-12">
                                <h2>Домашен</h2>
                                <h2>майстор!</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1"></h5>
                                </div>
                                <div class="offset-top-35"><a href="/Home/Contact" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606574216/tems0pyeu0y57o1ekrgb.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-sm-8 cell-md-8 cell-lg-6">
                                <h2>Изработка и поставяне на декоративни, облицовачни камъни!</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1"></h5>
                                </div>
                                <div class="offset-top-35 offset-sm-top-65"><a href="/Home/Contact" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination-wrap">
            <div class="shell">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <section class="section-80 section-md-110">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-6 cell-sm-3">
                    <div class="counter-wrap">
                        <span class="icon icon-lg icon-primary linecons-like"></span>
                        <div class="counter-value">
                            <p class="h3"><span data-from="0" data-to="100" class="counter">100%</span><span class="symbol">%</span></p>
                        </div>
                        <div class="divider-center divider-md divider-denim"></div>
                        <div class="counter-text">
                            <p class="text-style-2">СВЪРШЕНА РАБОТА</p>
                        </div>
                    </div>
                </div>
                <div class="cell-xs-6 cell-sm-3 offset-top-45 offset-xs-top-0">
                    <div class="counter-wrap">
                        <span class="icon icon-lg icon-primary linecons-small58"></span>
                        <div class="counter-value">
                            <p class="h3"><span data-from="0" data-to="10" class="counter">10</span></p>
                        </div>
                        <div class="divider-center divider-md divider-denim"></div>
                        <div class="counter-text">
                            <p class="text-style-2">ПОВЕЧЕ ОТ 10 ГОДИНИ НА ПАЗАРА</p>
                        </div>
                    </div>
                </div>
                <div class="cell-xs-6 cell-sm-3 offset-top-45 offset-sm-top-0">
                    <div class="counter-wrap">
                        <span class="icon icon-lg icon-primary linecons-user12"></span>
                        <div class="counter-value">
                            <p class="h3"><span data-from="0" data-to="100" class="counter">100%</span><span class="symbol">%</span></p>
                        </div>
                        <div class="divider-center divider-md divider-denim"></div>
                        <div class="counter-text">
                            <p class="text-style-2">ДОВОЛНИ КЛИЕНТ</p>
                        </div>
                    </div>
                </div>
                <div class="cell-xs-6 cell-sm-3 offset-top-45 offset-sm-top-0">
                    <div class="counter-wrap">
                        <span class="icon icon-lg-variant-1 icon-primary linecons-tv1"></span>
                        <div class="counter-value">
                            <p class="h3"><span data-from="0" data-to="80" class="counter">80</span></p>
                        </div>
                        <div class="divider-center divider-md divider-denim"></div>
                        <div class="counter-text">
                            <p class="text-style-2">ДОВЪРШЕНИ ПРОЕКТИ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section-60 bg-gradient-denim">
            <div class="bg-diamond-element"></div>
            <div class="shell text-center">
                <div class="range">
                    <div class="cell-xs-12">
                        <h2>Нашите Услуги</h2>
                        <p class="big">Предлагаме широк спектър от услуги, както цялосно изпълнение на ремонт,  довършване на започнат такъв, така и индивидуални услуги !</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-top-40 section-bottom-60 section-sm-bottom-110">
            <div class="shell-wide shell-mod-1">
                <div class="range">
                    <div data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="4" data-xl-items="6" data-slide-to-scroll="1" data-mobile-center-mode="true" data-sm-center-mode="false" data-center-padding="30px" data-sm-center-padding="0.5" class="slick-slider slick-slider-style-1">
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#1" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572027/qefpaty75anav7jefljq.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#1">НОВО! Домашен майстор</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#2" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572028/mdydsnchx0wzkeljktz2.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#2">Ел. Услуги</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#3" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572023/py2i8e9eij3iy69cjejm.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#3">В и К</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#4" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572031/dsqm63vz3fbjqxjrzykl.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#4">Лепене на плочки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#5" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572031/dt3nwszeiqhkoysrpx1y.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#5">Замазки и мазилки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#6" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572032/ju1v2sei3b0xalyqd1pr.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#6">Шпакловки и мазилки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#7" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606589081/g8tortjkonrw6t59oqif.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#7">Гипсокартон</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#8" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572031/dt3nwszeiqhkoysrpx1y.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#8">Декоративни мазилки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#9" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606589302/yxprz1mdvadky7lqts6x.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#9">Настилки и облицовки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#10" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606574216/tems0pyeu0y57o1ekrgb.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#10">Облицовъчни камъни</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#11" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572025/ksid95vkdozfrnpnpbgc.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#12">Обръщане на врати и прозорци</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#12" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572026/i3z27uljecwwlxdu7j7h.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#13">Топлоизолация</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#13" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606589303/x5vhozhilnz0v3mztqyv.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#14">Хидроизолация</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#14" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606746758/qqktfqaftx1qumexknfx.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#14">Монтажни дейности</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#15" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606589303/zzd9zdbkhvxzn8jwzlg4.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#15">Зидария и грубо строителство</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#16" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572029/pbv8kvpll9yyb2skpveq.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#16">Къртене, чистене и извозване</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-on="false" data-lg-on="true" class="rd-parallax bg-gray-base rd-parallax-overlay">
        <div data-speed="1.5" data-type="media" data-url="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572028/hls0maca25ubkwnzmvdg.jpg" class="rd-parallax-layer"></div>
        <div data-speed="1" data-type="html" class="rd-parallax-layer">
            <div class="section-60 section-sm-top-110 section-sm-bottom-100">
                <div class="shell">
                    <div class="range text-center">
                        <div class="cell-xs-12">
                            <h2>НАШИТЕ РЕАЛИЗИРАНИ ПРОЕКТИ</h2>
                            <div class="divider divider-md divider-primary"></div>
                        </div>
                    </div>
                    <div class="range range-condensed offset-top-55">
                        <div data-items="1" data-sm-items="3" data-md-items="4" data-lg-items="4" data-stage-padding="0" data-loop="true" data-margin="60" data-sm-margin="100" data-nav="false" data-dots="true" data-sm-dots-each="4" class="owl-carousel owl-carousel-style-1">
                            <div class="item"><a href="Home/GalleryIztok"   class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609942567/%D0%B8%D0%B7%D1%82%D0%BE%D0%BA_nzvgrm.jpg" alt="" width="184" height="54" /></a></div>
                            <div class="item"><a href="Home/GallerySlatina" class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609942567/%D1%81%D0%BB%D0%B0%D1%82%D0%B8%D0%BD%D0%B0_yep5oa.jpg" alt="" width="184" height="54" /></a></div>
                            <div class="item"><a href="Home/GalleryLozenec" class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609942567/%D0%BB%D0%BE%D0%B7%D0%B5%D0%BD%D1%86_watkuc.jpg" alt="" width="184" height="54" /></a></div>
                            <div class="item"><a href="Home/GalleryCenter1" class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609942567/%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%801_-_Copy_kknmqw.jpg" alt="" width="184" height="54" /></a></div>
                            <div class="item"><a href="Home/GalleryCenter2" class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1609942567/%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%801_-_Copy_kknmqw.jpg" alt="" width="184" height="54" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-60 section-sm-top-110 section-sm-bottom-100">
        <div class="shell">
            <div class="range text-center">
                <div class="cell-xs-12">
                    <h2>МНЕНИЯ НА НАШИ КЛИЕНТИ </h2>
                    <div class="divider divider-md divider-primary"></div>
                </div>
            </div>
            <div class="range">
                <div data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-stage-padding="15" data-loop="true" data-margin="30" data-nav="false" data-dots="true" data-md-dots-each="2" class="owl-carousel">
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Илияна Тодорова</cite>
                                        <p class="small">Домакиня</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q>Бърза, коректна и с око за детайла работа.Горещо препоръчвам услугите на фирмата!</q> </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Антон Стойков</cite>
                                        <p class="small">ИТ Специалист</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q>За периода на съвместната ни работа съм с изцяло положителни впечатления! Благодаря за коректността, навременната реакция и постоянния контакт!</q> </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Гергана Тодорова</cite>
                                        <p class="small">Консултант-продажби</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q>Фирмата е точна и коректна.Персонала е много любезен и съпричастен при решаване на проблеми и отговаряне на запитвания.</q> </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Петър Петров</cite>
                                        <p class="small">Мениджър</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q>Препоръчвам услугите на фирмата, бързо се отзоваха на запитванията ми и ми дадоха съвети, които после реализирахме в моя дом.Изключителни професионалисти !</q> </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Стоян Радославов</cite>
                                        <p class="small">Дизайнер</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p>
                                    <q>
                                        Нуждаех се от освежителен ремонт, включващ боядисването на няколко стени и лепене на тапети, след бърз разговор и оглед, работата беше свършена за по-малко от седмица.
                                        Професионално изпшълнение на момчетата от фирмата!
                                    </q>
                                </p>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
</main>