@{
    ViewData["Title"] = "Home Page";
}
@model dim.Data.ApplicationDbContext 

<main class="page-content">
    <div  data-swiper-autoplay="2000" data-slide-effect="fade" class="swiper-container swiper-slider" >
        <div class="swiper-wrapper" data-swiper-autoplay="2000">
            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606582443/pk8y6ckzqcxhpkzeukoi.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-sm-4 cell-md-4 cell-lg-6">
                                <h2>Нуждаете се</h2>
                                <h2>от цялостен</h2>
                                <h2>ремонт?</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1"></h5>
                                </div>
                                <div class="offset-top-35"><a href="/Home/Appointment" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572028/hls0maca25ubkwnzmvdg.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-right text-sm-right">
                        <div class="range">
                            <div class="cell-sm-12 cell-md-12 cell-lg-12">
                                <h2>Нуждаете се от</h2>
                                <h2>частичен или</h2>
                                <h2>довършителен</h2>
                                <h2>ремонт?</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1"></h5>
                                </div>
                                <div class="offset-top-35 offset-sm-top-65"><a href="/Home/Appointment" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572024/vp9qwdapscqcbsmeqg9o.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-sm-8 cell-md-8 cell-lg-7">
                                <h2>Можем</h2>
                                <h2>да помогнем!</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1">Ние предлагаме, както цялостни ремонти от А-Я, така и довършителни ремонти!</h5>
                                </div>
                                <div class="offset-top-35"><a href="/Home/Appointment" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606582558/tzrl8yvzb29nxzllgpby.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-sm-10 cell-md-10 cell-lg-12">
                                <h2>SOS</h2>
                                <h2>Домашен</h2>
                                <h2>майстор!</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1">!</h5>
                                </div>
                                <div class="offset-top-35"><a href="/Home/Appointment" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606574216/tems0pyeu0y57o1ekrgb.jpg" alt="" width="1920" height="600" />
                <div class="swiper-slide-caption">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-sm-8 cell-md-8 cell-lg-6">
                                <h2>Изработка и поставяне на декоративни, облицовачни камъни!</h2>
                                <div class="swiper-slide-text">
                                    <h5 class="text-style-1"></h5>
                                </div>
                                <div class="offset-top-35 offset-sm-top-65"><a href="/Home/Appointment" class="btn btn-primary btn-mod-1">Направи запитване</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination-wrap">
            <div class="shell">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <section class="section-80 section-md-110">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-6 cell-sm-3">
                    <div class="counter-wrap">
                        <span class="icon icon-lg icon-primary linecons-like"></span>
                        <div class="counter-value">
                            <p class="h3"><span data-from="0" data-to="100" class="counter">100%</span><span class="symbol">%</span></p>
                        </div>
                        <div class="divider-center divider-md divider-denim"></div>
                        <div class="counter-text">
                            <p class="text-style-2">ДОВОЛНИ КЛИЕНТИ</p>
                        </div>
                    </div>
                </div>
                <div class="cell-xs-6 cell-sm-3 offset-top-45 offset-xs-top-0">
                    <div class="counter-wrap">
                        <span class="icon icon-lg icon-primary linecons-small58"></span>
                        <div class="counter-value">
                            <p class="h3"><span data-from="0" data-to="10" class="counter">10</span></p>
                        </div>
                        <div class="divider-center divider-md divider-denim"></div>
                        <div class="counter-text">
                            <p class="text-style-2">ПОВЕЧЕ ОТ 10 ГОДИНИ НА ПАЗАРА</p>
                        </div>
                    </div>
                </div>
                <div class="cell-xs-6 cell-sm-3 offset-top-45 offset-sm-top-0">
                    <div class="counter-wrap">
                        <span class="icon icon-lg icon-primary linecons-user12"></span>
                        <div class="counter-value">
                            <p class="h3"><span data-from="0" data-to="250" class="counter">2 954</span></p>
                        </div>
                        <div class="divider-center divider-md divider-denim"></div>
                        <div class="counter-text">
                            <p class="text-style-2">ДОВОЛНИ КЛИЕНТ</p>
                        </div>
                    </div>
                </div>
                <div class="cell-xs-6 cell-sm-3 offset-top-45 offset-sm-top-0">
                    <div class="counter-wrap">
                        <span class="icon icon-lg-variant-1 icon-primary linecons-tv1"></span>
                        <div class="counter-value">
                            <p class="h3"><span data-from="0" data-to="100" class="counter">3 597</span></p>
                        </div>
                        <div class="divider-center divider-md divider-denim"></div>
                        <div class="counter-text">
                            <p class="text-style-2">ДОВЪРШЕНИ ПРОЕКТИ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section-60 bg-gradient-denim">
            <div class="bg-diamond-element"></div>
            <div class="shell text-center">
                <div class="range">
                    <div class="cell-xs-12">
                        <h2>Нашите Услуги</h2>
                        <p class="big">Предлагаме широк спектър от услуги, както цялосно изпълнение на ремонт,  довършване на започнат такъв, така и индивидуални услуги !</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-top-40 section-bottom-60 section-sm-bottom-110">
            <div class="shell-wide shell-mod-1">
                <div class="range">
                    <div data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="4" data-xl-items="6" data-slide-to-scroll="1" data-mobile-center-mode="true" data-sm-center-mode="false" data-center-padding="30px" data-sm-center-padding="0.5" class="slick-slider slick-slider-style-1">
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#1" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572027/qefpaty75anav7jefljq.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#1">НОВО! SOS Домашен майстор</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#2" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572028/mdydsnchx0wzkeljktz2.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#2">Ел. Услуги</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#3" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572023/py2i8e9eij3iy69cjejm.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#3">В и К</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#4" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572031/dsqm63vz3fbjqxjrzykl.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#4">Лепене на плочки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#5" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572031/dt3nwszeiqhkoysrpx1y.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#5">Замазки и мазилки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#6" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572032/ju1v2sei3b0xalyqd1pr.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#6">Шпакловки и мазилки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#7" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606589081/g8tortjkonrw6t59oqif.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#7">Гипсокартон</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#8" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572031/dt3nwszeiqhkoysrpx1y.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#8">Декоративни мазилки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#9" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606589302/yxprz1mdvadky7lqts6x.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#9">Настилки и облицовки</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#10" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606574216/tems0pyeu0y57o1ekrgb.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#10">Облицовъчни камъни</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#11" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572025/ksid95vkdozfrnpnpbgc.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#12">Обръщане на врати и прозорци</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#12" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572026/i3z27uljecwwlxdu7j7h.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#13">Топлоизолация</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#13" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606589303/x5vhozhilnz0v3mztqyv.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#14">Хидроизолация</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#14" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606746758/qqktfqaftx1qumexknfx.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#14">Монтажни дейности</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#15" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606589303/zzd9zdbkhvxzn8jwzlg4.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#15">Зидария и грубо строителство</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item height-fill">
                            <div class="product">
                                <a href="/Home/Services#16" class="product-image"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572029/pbv8kvpll9yyb2skpveq.jpg" alt="" width="223" height="227" /></a>
                                <div class="product-caption">
                                    <div class="divider divider-sm divider-primary"></div>
                                    <div class="product-title">
                                        <h5><a href="/Home/Services#16">Къртене, чистене и извозване</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-on="false" data-lg-on="true" class="rd-parallax bg-gray-base rd-parallax-overlay">
        <div data-speed="1.5" data-type="media" data-url="https://res.cloudinary.com/remontniresheniq/image/upload/v1606572028/hls0maca25ubkwnzmvdg.jpg" class="rd-parallax-layer"></div>
        <div data-speed="1" data-type="html" class="rd-parallax-layer">
            <div class="section-60 section-sm-top-110 section-sm-bottom-100">
                <div class="shell">
                    <div class="range text-center">
                        <div class="cell-xs-12">
                            <h2>НАШИТЕ РЕАЛИЗИРАНИ ПРОЕКТИ</h2>
                            <div class="divider divider-md divider-primary"></div>
                        </div>
                    </div>
                    <div class="range range-condensed offset-top-55">
                        <div data-items="1" data-sm-items="3" data-md-items="4" data-lg-items="4" data-stage-padding="0" data-loop="true" data-margin="60" data-sm-margin="100" data-nav="false" data-dots="true" data-sm-dots-each="4" class="owl-carousel owl-carousel-style-1">
                            <div class="item"><a href="Home/GalleryIztok"   class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606656015/l58gq9mstnazjvolhwau.jpg" alt="" width="184" height="54" /></a></div>
                            <div class="item"><a href="Home/GallerySlatina" class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606656014/vwzn7ec8bcdszztdxxum.jpg" alt="" width="184" height="54" /></a></div>
                            <div class="item"><a href="Home/GalleryLozenec" class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606656014/emweddshurtwouud5p6p.jpg" alt="" width="184" height="54" /></a></div>
                            <div class="item"><a href="Home/GalleryCenter1" class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606656013/ti6keuooig1c29euiyub.jpg" alt="" width="184" height="54" /></a></div>
                            <div class="item"><a href="Home/GalleryCenter2" class="link-image link-image-contrast"><img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606656013/ti6keuooig1c29euiyub.jpg" alt="" width="184" height="54" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-60 section-sm-top-110 section-sm-bottom-100">
        <div class="shell">
            <div class="range text-center">
                <div class="cell-xs-12">
                    <h2>МНЕНИЯТА НА НАШИТЕ КЛИЕНТИ </h2>
                    <div class="divider divider-md divider-primary"></div>
                </div>
            </div>
            <div class="range">
                <div data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-stage-padding="15" data-loop="true" data-margin="30" data-nav="false" data-dots="true" data-md-dots-each="2" class="owl-carousel">
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Jennifer West</cite>
                                        <p class="small">Housewife</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q>I highly recommend this company. I had a washer break down and they had it back up and running within 30 minutes of service call. The service men were very professional and prompt. If you have appliance damages, give them a call, they will surely repair.</q> </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Patrick Carlson</cite>
                                        <p class="small">Web Designer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q>Great service from this family-owned (and veteran-owned) company! They fixed my washer machine in a timely and professional manner. Highly recommend. Thanks, guys, for a good work!</q> </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Christine Bryant</cite>
                                        <p class="small">Journalist</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q> Thomas had a good knowledge of our LG refrigerator and easily identified why the ice maker wasn't working. He ordered the part and came back to change it out and it works perfectly now. Tom and Sam work tirelessly to make calling them a good experience. </q> </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>William Wallace</cite>
                                        <p class="small">Manager</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q>I highly recommend this service center. The best service I have ever received from an appliance repair company. If needs, I will definitely use them again for our repair needs.</q> </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>Marian Kurtov</cite>
                                        <p class="small">Housewife</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p>
                                    <q>
                                        I highly recommend this company. I had a washer break down and they had it back up and running within 30 minutes of s
                                        ervice call. The service men were very professional and prompt. If you have appliance damages, give them a call, they will surely repair.
                                    </q>
                                </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote-variant-1">
                            <div class="quote-meta">
                                <div class="unit unit-spacing-xs unit-middle unit-horizontal">
                                    <div class="unit-left">
                                        <figure class="quote-image"><img src="images/47x47.jpg" alt="" width="47" height="47" /> </figure>
                                    </div>
                                    <div class="unit-body">
                                        <cite>William Wallace</cite>
                                        <p class="small">Manager</p>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-body">
                                <p> <q>I highly recommend this service center. The best service I have ever received from an appliance repair company. If needs, I will definitely use them again for our repair needs.</q> </p>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    <div class="rd-google-map">
        <div class="overlay rd-google-map__model" onClick="style.pointerEvents='none'"></div>
        <iframe class="rd-google-map__model" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.8404068987!2d-74.2581973675357!3d40.70583158554698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2zVGjDoG5oIHBo4buRIE5ldyBZb3JrLCBUaeG7g3UgYmFuZyBOZXcgWW9yaw!5e0!3m2!1svi!2s!4v1480613299202" style="border:0;scrollwheel: false;width:100%" allowfullscreen></iframe>
    </div>
    <div>
        <h1>Upload</h1>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
            <input type="file" name="files" multiple />
            <input type="submit" value="Upload" />
        </form>
    </div>
</main>