
@{
    ViewData["Title"] = "Repair";
}

<main class="page-content">
    <section class="section-40 section-lg-64 bg-gray-lighter">
        <div class="breadcrumbs-wrap">
            <div class="shell text-center">
                <div class="wrap-sm-justify-horizontal">

                    <div class="text-sm-left">
                        <h1>ВИДОВЕ РЕМОНТИ</h1>
                    </div>

                    <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                        <ul class="breadcrumbs-custom">
                            <li class="active">Видове ремонти</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-60 section-sm-top-90 section-sm-bottom-110">
        <div class="shell">
            <div class="range range-sm-right">
                <div class="cell-xs-12">
                    <div data-custom-hash="true" class="responsive-tabs responsive-tabs-default responsive-tabs-vertical responsive-tabs-vertical-1 responsive-tabs-primary">
                        <ul class="resp-tabs-list">
                            <li><a href="#first">Основен ремонт</a></li>
                            <li><a href="#second">Довършителен ремонт</a></li>
                            <li><a href="#third">Освежителен ремонт</a></li>
                        </ul>
                        <div class="resp-tabs-container">


                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>ОСНОВЕН РЕМОНТ</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="#" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>ТЕКСТ ТУК.</p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>ТЕКСТ ТУК</p>
                            </div>


                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>ДОВЪРШИТЕЛЕН РЕМОНТ</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="#" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>ТЕКСТ ТУК</p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Range hood is not working</li>
                                            <li>Auto ignition is broken or malfunctioning</li>
                                            <li>Burners work sporadically / off and on</li>
                                            <li>Heating element burnt out</li>
                                            <li>Broken sensors</li>
                                            <li>Wiring problems</li>
                                            <li>Flame or temperature controls</li>
                                            <li>Gas leaks</li>
                                            <li>Digital display not working</li>
                                            <li>Electrical Problems</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>ТЕКСТ ТУК</p>
                            </div>


                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>ОСВЕЖИТЕЛЕТ РЕМОНТ</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="#" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>ТЕКСТ ТУК.</p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>ТЕКСТ ТУК</p>
                            </div>
                            <p> All these parts need to be assessed one by one in order for experts to render professional repair service. Our company only makes use of original parts and accessories. In fact, our main warehouse is stocked with authentic and factory spare parts to ensure that we can deliver prompt service whatever the make and model of your ice maker may be. Our technicians only use top-of-the-line equipment and tools when providing in-home ice maker repair. This is to ensure that the job gets done in an efficient manner and that your ice maker and refrigerator are guaranteed to be safe from further damage or breakdown. Best of all, these parts are inexpensive despite their sturdy and reliable qualities. Parts replacement and repair are very much affordable, you dont have to worry about going over your budget! </p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="cell-sm-8 cell-md-9 offset-top-55 offset-sm-top-88">
                    <div class="range range-condensed">
                        <div data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="4" data-stage-padding="0" data-loop="true" data-margin="30" data-sm-margin="73" data-nav="false" data-dots="true" data-sm-dots-each="2" class="owl-carousel owl-carousel-centered">
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-7-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-8-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-9-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-10-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-11-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-9-175x39.png" alt="" width="175" height="39" /></a></div>
                        </div>
                    </div>
                    <div class="range offset-top-55 offset-sm-top-88">
                        <div class="cell-xs-12">
                            <h5>Get In Touch</h5>
                            <hr>
                            <form data-form-output="form-output-global" data-form-type="contact" method="post" action="#" class="rd-mailform">
                                <div class="range">
                                    <div class="cell-md-6">
                                        <div class="form-group">
                                            <label for="contact-first-name" class="form-label-outside">First name</label>
                                            <input id="contact-first-name" type="text" name="first-name" data-constraints="0@Required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="cell-md-6 offset-top-18 offset-md-top-0">
                                        <div class="form-group">
                                            <label for="contact-last-name" class="form-label-outside">Last name</label>
                                            <input id="contact-last-name" type="text" name="last-name" data-constraints="0@Required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="cell-md-6 offset-top-18">
                                        <div class="form-group">
                                            <label for="contact-email" class="form-label-outside">E-mail</label>
                                            <input id="contact-email" type="email" name="email" data-constraints="1@Email 1@Required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="cell-md-6 offset-top-18">
                                        <div class="form-group">
                                            <label for="contact-phone" class="form-label-outside">Phone</label>
                                            <input id="contact-phone" type="text" name="phone" data-constraints="1@Required 1@Numeric" class="form-control">
                                        </div>
                                    </div>
                                    <div class="cell-xs-12 offset-top-18">
                                        <div class="form-group">
                                            <label for="contact-message" class="form-label-outside">Message</label>
                                            <textarea id="contact-message" name="message" data-constraints="1@Required" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="cell-xs-12 offset-top-30">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
