@{
    ViewData["Title"] = "Repair";
}

<main class="page-content">
    <section class="section-40 section-lg-64 bg-gray-lighter">
        <div class="breadcrumbs-wrap">
            <div class="shell text-center">
                <div class="wrap-sm-justify-horizontal">
                    <div class="text-sm-left">
                        <h1>ВИДОВЕ РЕМОНТИ</h1>
                    </div>
                    <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                        <ul class="breadcrumbs-custom">
                            <li class="active">Видове ремонти</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-60 section-sm-top-90 section-sm-bottom-110">
        <div class="shell">
            <div class="range range-sm-right">
                <div class="cell-xs-12">
                    <div data-custom-hash="true" class="responsive-tabs responsive-tabs-default responsive-tabs-vertical responsive-tabs-vertical-1 responsive-tabs-primary">
                        <ul class="resp-tabs-list">
                            <li><a href="#first">Основен ремонт</a></li>
                            <li><a href="#second">Довършителен ремонт</a></li>
                            <li><a href="#third">Освежителен ремонт</a></li>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>ОСНОВЕН РЕМОНТ</h3>
                                    </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">направи запитване</a>
                                        <address class="contact-info-inline">
                                            <p>или ни се обади на:</p>
                                            <a href="callto:#" class="link link-md link-dark">088 928 8410</a>
                                        </address>
                                    </div>
                                </div>
                                <h6>
                                    Основен ремонт
                                </h6>
                                <p>- ремонт на баня                                             </p>
                                <p>- ремонт на кухня                                            </p>
                                <p>- ремонт на спалня                                           </p>
                                <p>- ремонт на всекидневна                                      </p>
                                <p>- ремонт на междинни помещения - коридори, килери и др.      </p>
                                <h6>Основен ремонт - етапи и последователност</h6>
                                <p>- Кърти, чисти, извозва                                     </p>
                                <p>- Идеен проект                      </p>
                                <p>- Смяна на дограма                                         </p>
                                <p>- Подова замазка                     </p>
                                <p>- Електро и ВиК инсталации                     </p>
                                <p>- Гипскартон</p>
                                <p>- Подова настилка</p>
                                <p>- Лепене на гранитогрес, фаянс, теракот</p>
                                <p>- Мазилка, шпакловка и боядисване</p>
                                <p>- Саниране</p>
                                <p>- Хидроизолация</p>
                                <p>- Монтаж на осветителни тела, ключове и контакти</p>
                                <p>- Сглобяване на мебели</p>
                                <p>- Чистене и извозване</p>
                                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606751615/o3wfw7scboixx9uxcjif.jpg" alt="Trulli" width="800" height="600">
                                <h6>При въпроси и запитвания не се колебайте да се свържете с нас!</h6>
                            </div>
                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>ДОВЪРШИТЕЛЕН РЕМОНТ</h3>
                                    </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">направи запитване</a>
                                        <address class="contact-info-inline">
                                            <p>или ни се обади на:</p>
                                            <a href="callto:#" class="link link-md link-dark">088 928 8410</a>
                                        </address>
                                    </div>
                                </div>
                                <h6>Довършителен ремонт</h6>
                                <p>- Лепене на фаянс и теракота в баня - по съществуваща основа                  </p>
                                <p>- Таван на баня - боя или мазилка                                             </p>
                                <p>- Монтаж на тоалетна, мивка и душ батерия                                     </p>
                                <p>- Подготовка на под, стени и тавани за работа - почитване и обезпрашаване     </p>
                                <p>- Боядисване на стени и тавани с латекс                                       </p>
                                <p>- Лепене на подови плочи до 7м2 за коридор и кухня, стандарт без цокъл        </p>
                                <p>- Събиране и извозване на строителен отпадък                                  </p>
                                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606751617/nue7l7uwdwf7us2cce8v.jpg" alt="Trulli" width="800" height="600">
                                <h6>При въпроси и запитвания не се колебайте да се свържете с нас!</h6>
                            </div>
                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>ОСВЕЖИТЕЛЕТ РЕМОНТ</h3>
                                    </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">направи запитване</a>
                                        <address class="contact-info-inline">
                                            <p>или ни се обади на:</p>
                                            <a href="callto:#" class="link link-md link-dark">088 928 8410</a>
                                        </address>
                                    </div>
                                </div>
                                <h6>Освежителни ремонти</h6>
                                <p>Абсолютно всякакъв вид освежителни ремонти</p>
                                <img src="https://res.cloudinary.com/remontniresheniq/image/upload/v1606751616/qhzqrq06j5oe4m7bkzon.jpg" alt="Trulli" width="800" height="600">
                                <h6>При въпроси и запитвания не се колебайте да се свържете с нас!</h6>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
