
@{
    ViewData["Title"] = "Services";
}

<main class="page-content">
    <section class="section-40 section-lg-64 bg-gray-lighter">
        <div class="breadcrumbs-wrap">
            <div class="shell text-center">
                <div class="wrap-sm-justify-horizontal">
                    <div class="text-sm-left">
                        <h1>РЕМОНТНИ УСЛУГИ</h1>
                    </div>
                    <div class="offset-top-22 offset-sm-top-0 text-sm-right">
                        <ul class="breadcrumbs-custom">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-60 section-sm-top-90 section-sm-bottom-110">
        <div class="shell">
            <div class="range range-sm-right">
                <div class="cell-xs-12">
                    <div data-custom-hash="true" class="responsive-tabs responsive-tabs-default responsive-tabs-vertical responsive-tabs-vertical-1 responsive-tabs-primary">
                        <ul class="resp-tabs-list">
                            <li><a href="#1">НОВО! SOS Домашен майстор</a></li>
                            <li><a href="#2">Ел. Инстлации</a></li>
                            <li><a href="#3">В и К</a></li>
                            <li><a href="#4">Лепене на плочки</a></li>
                            <li><a href="#5">Замазки и мазилки</a></li>
                            <li><a href="#6">Шпакловки и боядисване</a></li>
                            <li><a href="#7">Гипсокартон</a></li>
                            <li><a href="#8">Декоративки мазилки</a></li>
                            <li><a href="#9">Настилки и облицовки</a></li>
                            <li><a href="#10">Облицовани камъни</a></li>
                            <li><a href="#11">Ламиниран паркет</a></li>
                            <li><a href="#12">Обръщане на врати и прозорци</a></li>
                            <li><a href="#13">Топлоизолация</a></li>
                            <li><a href="#14">Хидроизолация</a></li>
                            <li><a href="#15">Монтажи</a></li>
                            <li><a href="#16">Зидария, грубо строителство</a></li>
                            <li><a href="#17">Къртене, чистене и извозване</a></li>
                        </ul>
                        <div class="resp-tabs-container">

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>SOS Домашен майстор</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                 <h3> Какво представлява „Домашен Майстор”</h3>
                                <p>„Домашен Майстор” е услуга, обхващаща онези дейности, консултации или съвети, които нямат точно определена количествена оценка, не са споментати в ценоразпис и няма как да бъдат калкулирани на брой, квадратен или линеен метър. </p>
                                    
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Ел. Инстлации</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>В и К</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Лепене на плочки</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Замазки и мазилки</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Шпакловки и боядисване</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Гипсокартон</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Декоративки мазилки</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Настилки и облицовки</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Облицовани камъни</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Ламиниран паркет</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Обръщане на врати и прозорци</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Топлоизолация</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Хидроизолация</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Монтажи</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Зидария, грубо строителство</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>

                            <div class="tab">
                                <div class="box-custom-variant-1">
                                    <div class="box-header">
                                        <h3>Къртене, чистене и извозване</h3>
                                    </div>
                                    <div class="box-image"><img src="images/146x156.png" alt="" width="146" height="156" /> </div>
                                    <div class="box-content">
                                        <a href="/Home/Contact" class="btn btn-primary">order repair</a>
                                        <address class="contact-info-inline">
                                            <p>or call us</p>
                                            <a href="callto:#" class="link link-md link-dark">1-800-1234-567</a>
                                        </address>
                                    </div>
                                </div>
                                <p>
                                    ТЕКСТ
                                </p>
                                <div class="offset-top-10">
                                    <div class="inset-sm-left-24">
                                        <ul class="list-marked-variant-2">
                                            <li>Control module</li>
                                            <li>Ejector motor</li>
                                            <li>Ejector gear</li>
                                            <li>Supply line</li>
                                            <li>Supply valve</li>
                                            <li>Thermostat</li>
                                            <li>Water inlet valve</li>
                                            <li>Water inlet switch</li>
                                            <li>Ice mold heater</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> ТЕКСТ</p>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="cell-sm-8 cell-md-9 offset-top-55 offset-sm-top-88">
                    <div class="range range-condensed">
                        <div data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="4" data-stage-padding="0" data-loop="true" data-margin="30" data-sm-margin="73" data-nav="false" data-dots="true" data-sm-dots-each="2" class="owl-carousel owl-carousel-centered">
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-7-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-8-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-9-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-10-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-11-175x39.png" alt="" width="175" height="39" /></a></div>
                            <div class="item"><a href="#" class="link-image link-image-variant-2"><img src="images/services-9-175x39.png" alt="" width="175" height="39" /></a></div>
                        </div>
                    </div>
                    <div class="range offset-top-55 offset-sm-top-88">
                        <div class="cell-xs-12">
                            <h5>Get In Touch</h5>
                            <hr>
                            <form data-form-output="form-output-global" data-form-type="contact" method="post" action="#" class="rd-mailform">
                                <div class="range">
                                    <div class="cell-md-6">
                                        <div class="form-group">
                                            <label for="contact-first-name" class="form-label-outside">First name</label>
                                            <input id="contact-first-name" type="text" name="first-name" data-constraints="1@Required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="cell-md-6 offset-top-18 offset-md-top-0">
                                        <div class="form-group">
                                            <label for="contact-last-name" class="form-label-outside">Last name</label>
                                            <input id="contact-last-name" type="text" name="last-name" data-constraints="1@Required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="cell-md-6 offset-top-18">
                                        <div class="form-group">
                                            <label for="contact-email" class="form-label-outside">E-mail</label>
                                            <input id="contact-email" type="email" name="email" data-constraints="1@Email 1@Required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="cell-md-6 offset-top-18">
                                        <div class="form-group">
                                            <label for="contact-phone" class="form-label-outside">Phone</label>
                                            <input id="contact-phone" type="text" name="phone" data-constraints="1@Required 1@Numeric" class="form-control">
                                        </div>
                                    </div>
                                    <div class="cell-xs-12 offset-top-18">
                                        <div class="form-group">
                                            <label for="contact-message" class="form-label-outside">Message</label>
                                            <textarea id="contact-message" name="message" data-constraints="1@Required" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="cell-xs-12 offset-top-30">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

